#chat_input_component_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#chat_input_container {
  display: flex;
}

#chat_input {
  margin-left: .5rem;
  background-color: transparent;
  border-width: 0px;
}

#chat_input:focus {
  outline: none;
}
